<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<!-- <div class="col-md-8 mt-2 bg-white">
    <h5 class="text-danger text-center font-medium text-gray-600 uppercase tracking-wider"> Doctor Lists</h5>

<div class="col-md-8 mt-2 bg-white">
    <h1 class="text-danger text-center font-medium text-gray-600 uppercase tracking-wider"> Doctor Lists</h1>

    <div class="card p-3  ">
       <div class="card-body  card border-0 shadow p-3 "   >
          <table class="min-w-full  border-gray-200 ">
                <thead>
                  <tr>
                    <th  class="px-6 py-3 border-b border-gray-200 bg-purple-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">First Name</th>
                    <th  class="px-6 py-3 border-b border-gray-200 bg-purple-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Last Name</th>
                    <th  class="px-6 py-3 border-b border-gray-200 bg-purple-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">specialist</th>
                    <th  class="px-6 py-3 border-b border-gray-200 bg-purple-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">Action</th> 
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let doctor of doctors  | paginate :{
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count}; let i =index " class="collection">
                      <td class="collection-doctor" class="px-6 py-3">{{doctor.first_name}}</td> 
                      <td class="collection-doctor"  class="px-6 py-3">{{doctor.last_name}}</td>
                      <td class="collection-doctor"  class="px-6 py-3">{{doctor.specialist}}</td>
                      <td>
                        <button [routerLink]="['/addpatient', PatientId]"    routerLinkActive="active-link"    class="border rounded p-5 py-1 bg-purple-300 hover:bg-purple-600 text-black-400 mt-5" >booking</button>
                      </td>
                    </tr>
                  </tbody>
             </table>
                <div >
                  <pagination-controls
                    [responsive]="true"
                   previousLabel="prev"
                   nextLabel="Next"
                   (pageChange)=" onTableDataChange($event)"></pagination-controls>
                </div>
        </div>
      </div>
    </div> -->

    <div class="w-full">
      <div class=" pt-8 mx-5">
        <span class="text-2xl font-semibold font-bold font-['Maven Pro'] tracking-widest leading-loose">Booking Activity Details</span>
      </div>
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5" >
    <table class="w-full border-collapse bg-white text-left text-lg text-gray-500">
      <thead class="bg-gray-50">
        <tr>
          <!-- <th scope="col" class="px-6 py-4 font-medium text-gray-900">Category ID</th> -->
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">First Name</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Last Name</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Specialist</th>
          <th scope="col" class="px-6 py-4 text-center font-medium text-gray-900">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 items-center border-gray-100" >
        <tr class="hover:bg-gray-50 justify-center" *ngFor="let doctor of doctors ">
          <!-- <td class="px-6 py-4">
            {{ categories.categoryId }}
          </td> -->
          <td class="px-6 py-4">
            {{ doctor.first_name}}
          </td>
          <td class="px-6 py-4">
            {{ doctor.last_name}}
          </td>
          <td class="px-6 py-4">
            {{ doctor.specialist}}
          </td>
          <td class="px-6 py-4">
            <div class="flex justify-center gap-4" >
              <button (click)="  BookDoctorPopup(doctor.first_name, doctor.id)" class="border rounded p-5 py-1 bg-green-600 hover:bg-green-500 text-white" >Book Doctor</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

</html>
          
       
            
            
       

      

          <!-- <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
            <div>
              <div class="text-sm text-gray-400 ">Booking Success</div>
              <div class="flex items-center pt-1">
                <div class="text-3xl font-medium text-gray-600 ">44</div>
              </div>
            </div>
            
          </div>

          <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
            <div>
              <div class="text-sm text-gray-400 ">Booking Cancle</div>
              <div class="flex items-center pt-1">
                <div class="text-3xl font-medium text-gray-600 ">1000</div>
              </div>
            </div>
          </div>
                 <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
            <div>
              <div class="text-sm text-gray-400 ">Booking Success</div>
              <div class="flex items-center pt-1">
                <div class="text-3xl font-medium text-gray-600 ">44</div>
              </div>
            </div>
             -->
      


       
    