<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<div class="w-full">
  <div class=" pt-8 mx-5">
    <span class="text-2xl font-semibold font-bold font-['Maven Pro'] tracking-widest leading-loose">Booking Activity Details</span>
  </div>
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5" >
<table class="w-full border-collapse bg-white text-left text-lg text-gray-500">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">First Name</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Last Name</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Age</th>
      <th scope="col" class="px-6 py-4 text-center font-medium text-gray-900">Action</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100 items-center border-gray-100" >
    <tr class="hover:bg-gray-50 justify-center" *ngFor="let patient of patientList   ">
      <td class="px-6 py-4">
        {{ patient.first_name}}
      </td>
      <td class="px-6 py-4">
        {{ patient.last_name}}
      </td>
      <td class="px-6 py-4">
        {{ patient.age}}
      </td>
      <td class="px-6 py-4">
        <div class="flex justify-center gap-4" >
          <button (click)="AcceptPatientPopup(patient.first_name, patient.id)"  class="border rounded-3xl p-5 py-1 bg-green-600 hover:bg-green-500 text-white" >Accept Patient</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
  
  </html>