<!-- <div class="bg-gray-200 rounded-md bg-purple-200" >
  <div class="max-w-7xl mx-auto px-4 sm:px-6  ">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <p class="font-bold">Welcome back {{DoctorId}}</p> 
      </div>
        <div class="p-1.5 mt-2 flex items-center rounded-md px-2 duration-300 cursor-pointer  bg-white ">
          <img class="h-5 w-5" src="/assets/magnifying-glass.png" alt="">
          <input type="text" class="text-[15px] ml-3 w-full bg-transparent focus:outline-none " placeholder="Serach" />
        </div>
        <div class="flex space-x-2">
        <button [routerLink]="['/adddoctor', DoctorId]"   routerLinkActive="active-link"    class="bg-purple-400 text-black-900 font-semibold px-4 py-1 rounded-md hover:bg-gray-200  " >Add Doctor</button>
        <button (click)="onSignOut()" class="bg-purple-400 font-semibold  px-4 py-1 rounded-lg hover:bg-purple-700  " >Sign Out</button>
      </div>
    </div>
  </div>
</div> -->

<div class="fixed relative top-0 left-0 w-full flex justify-center">
  <nav class=" w-full">
      <div class="relative z-30 bg-white dark:bg-gray-900">
          <div class="container m-auto md:px-12 lg:py-0 lg:px-10">
              <div class="flex flex-wrap items-center justify-between py-4 gap-6 md:gap-0">
                  <input type="checkbox" name="toggle_nav" id="toggle_nav" class="peer hidden">
                  <div class="w-full px-6 flex justify-between md:w-max md:px-0 z-30">
                    <span class="text-green-500 text-2xl font-bold font-['Maven Pro'] tracking-widest leading-loose">
                      <img class="h-8 inline" src="" alt="">
                    Doctor Dashboard
                    </span>
                      
                      <div class="flex items-center md:hidden max-h-10">
                          <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger" class="relative p-2">
                              <div id="line"
                                  class="m-auto h-0.5 w-6 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                              <div id="line2"
                                  class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 dark:bg-gray-300 transition duration-300">
                              </div>
                          </label>
                      </div>
                  </div>
                  <label for="toggle_nav" class="hidden peer-checked:block fixed w-full h-full left-0 top-0 z-10 bg-green-200 bg-opacity-30 backdrop-blur backdrop-filter"></label>
                  <div class="hidden z-40 peer-checked:flex w-11/12 mx-auto md:mx-0 flex-col 
                  justify-end items-center gap-y-8 p-6 
                  rounded-xl bg-white dark:bg-gray-800 md:flex md:w-8/12 
                  md:gap-y-0 md:gap-x-4 md:divide-x md:p-0 
                  md:flex-row md:bg-transparent lg:w-7/12">
                      <div class="block w-full md:w-max">
                          <ul class="gap-y-6 tracking-wide 
                          text-gray-500 dark:text-gray-300 font-medium flex flex-col md:flex-row md:gap-y-0">
                              
                          
                          </ul>
                      </div>

                      <div class="w-full pl-2
                      sm:w-max gap-4 flex min-w-max flex-col sm:flex-row">
                      <div class="pt-2 relative mx-auto text-gray-600">
                        <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                          type="search" name="search" placeholder="Search">
                        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                            width="512px" height="512px">
                            <path
                              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                          </svg>
                        </button>
                      </div>
                          <button  (click)="onSignOut()" type="button" title="Start buying" class="w-full py-3 px-6 rounded-xl text-center transition bg-green-600 hover:bg-green-700 active:bg-green-800 focus:bg-green-500 sm:w-max">
                            <span class="block text-white dark:text-white font-semibold">
                              Sign Out
                          </span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div aria-hidden="true" class="container h-4 -mt-6 mx-auto bg-green-600/30 dark:bg-green-900/30 blur md:-mt-4"></div>
  </nav>
</div>
