
            <div class="relative p-6 w-[23rem]" *ngIf="recievedRow">
                <h1 class="text-3xl font-bold">Book Your Doctor</h1>
                <p class="text-lg text-gray-500">Are you sure you want to Book Dr.<span>{{recievedRow.doctorName}}</span> as your doctor?</p>
                <div class="flex flex-row mt-6 space-x-2 justify-evenly">
                    <button (click)="bookDoctor(recievedRow.doctorID, recievedRow.patientID)" class="w-full py-3 text-sm font-medium text-center text-white transition duration-150 ease-linear bg-green-600 border border-green-600 rounded-lg hover:bg-green-500">Book Now</button>
                    <button (click)="cancelBook()" x-on:click="modal = ! modal" class="w-full py-3 text-sm text-center text-gray-500 transition duration-150 ease-linear bg-white border border-gray-200 rounded-lg hover:bg-gray-100">Cancel</button>
                </div>
            </div>