<div class="bg-white pt-6 sm:pt-8 lg:pt-12" *ngIf="value == true">
    <div class="mx-auto max-w-screen-2xl px-4 pb-4 md:px-8">
      <div class="relative flex flex-wrap rounded-lg bg-green-500 px-4 py-3 shadow-lg sm:flex-nowrap sm:items-center sm:justify-center sm:gap-3 sm:pr-8 md:px-8">
        <div class="order-1 mb-2 inline-block w-11/12 font-normal font-['Maven Pro'] tracking-widest leading-loose max-w-screen-sm text-xl text-white sm:order-none sm:mb-0 sm:w-auto md:text-base">Please add your details to continue with TELEMEDICINE</div>
        <button (click)="openAddPatientDialog()" class="order-last inline-block w-full whitespace-nowrap rounded-lg bg-[#1c212c] px-4 py-2 text-center text-xl font-semibold text-white outline-none ring-[#1c212c] transition duration-100 hover:bg-[#1c213c] focus-visible:ring active:bg-[#1c212c] sm:order-none sm:w-auto md:text-sm">Add Doctor Details</button>
      </div>
    </div>
</div>

<div  class="bg-white pt-6 sm:pt-8 lg:pt-32" *ngIf="value == false">
  <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow"  *ngFor="let patient of patients" #elseBlock1>
    <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="https://avatars.githubusercontent.com/u/67946056?v=4" alt="">
    <div class="text-center mt-2 text-3xl font-medium">{{patient.first_name}}</div>
    <div class="text-center mt-2 font-light text-sm">@devpenzil</div>
    <div class="text-center font-normal text-lg">Kerala</div>
    <div class="px-6 text-center mt-2 font-light text-sm">
      <p>
        Front end Developer, avid reader. Love to take a long walk, swim
      </p>
    </div>
    <hr class="mt-8">
    <div class="flex p-4">
      <div class="w-1/2 text-center">
        <span class="font-bold">1.8 k</span> Followers
      </div>
      <div class="w-0 border border-gray-300">
        
      </div>
      <div class="w-1/2 text-center">
        <span class="font-bold">2.0 k</span> Following
      </div>
    </div>
 </div>
</div>